{% extends "layout.twig" %}

{% block content %}
    <div class="bg-white rounded shadow-sm p-4">
        <h1 class="h4 mb-2">ВетКлиника — локальная система</h1>
        <p class="mb-3">
            Начинаем с клиентов. Дальше добавим питомцев, визиты (посещаемость), назначения.
        </p>

        <a class="btn btn-primary" href="/clients">Перейти к клиентам</a>
    </div>
{% endblock %}
